body{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/4/41/South_Park_main_characters.png/250px-South_Park_main_characters.png);
	text-align: center;
	font-family: 'Times New Roman', Times, serif

}

.option{
  margin: 10px;
}

div{
	justify-content: center;
}

.last-seconds{
	color: rgb(214, 14, 14);
  }