body{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/4/41/South_Park_main_characters.png/250px-South_Park_main_characters.png);
	text-align: center;
}

.option{
  margin: 10px;
}

div{
	justify-content: center;
}

.last-seconds{
	color: rgb(233, 6, 6);
  }